<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<form action="/user" method="POST" >
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" th:value="${username}"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" th:value="${email}"><br>
    <label for="password">Password:</label><br>
    <p th:if="${error}" th:text="${error}"></p>
    <input type="password" id="password" name="password"><br>
    <label for="verify">Verify Password:</label><br>
    <input type="password" id="verify" name="verify"><br>
    <input type="submit" value="Create">
</form>
</body>
</html>